name: CI Pipeline - Go DevOps App

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Baixar dependências
        run: go mod tidy

      - name: Build da aplicação
        run: go build ./cmd/api

      - name: Lint básico
        run: go vet ./...

      - name: Build da imagem Docker
        run: docker build -t go-devops-app .
